@page
@model FreshFarmMarket.Pages._403Model
@{
}

<h1 class="text-danger">Error 403</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div>
	<p>Return<a asp-page="Login"> Login</a></p>
</div>