@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send password reset email</button>
</form>
